* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV */

nav > .container-fluid {
  background-color: #2c3e50;
}

a {
  color: white;
}

.container {
  width: 100%;
}

.container.nav {
  height: 60px;
  background-color: #2c3e50;
}

.content-nav.right {
  text-align: right;
}

.content-nav.left {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}


button {
  width: 50px;
  margin-top: 10px;
  background-color: #2c3e50;
  border: lightgrey solid 1px;
  border-radius: 4px;
}

.burger_container {
  margin-left: 12px;
  text-align: center;
}

.hamburger {
  width: 25px;
  height: 2px;
  background-color: lightgrey;
  margin: 6px 0;
}

/* MEDIA */


@media (min-width: @screen-lg-min) {

  .col-lg-4 {

    border: black solid 1px;
  }

}

@media (min-width: @screen-sm-min) {

  .col-sm-4 {

    border: black solid 1px;
  }

  .col-sm-6 {

    border: black solid 1px;
  }
 }


.col-xs-6 {
  padding-right: 0;

}

.col-xs-12 {
  height: 100px;

  border: black solid 1px;
}
