* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-color: blue;
}

.container {
  width: 100%;
  height:100px;
  background-color: pink;
  border: black solid 2px;
}


.col-xs-6 {
  height: 100px;
  background-color: yellow;
  border: black solid 1px;
}
